<h1 class="mt-4">{{title}}</h1>

<div class="container mt-4">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Fecha</th>
      <th scope="col">Neto</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let assetDiscountEmployee of assetDiscountEmployeeList">
      <th scope="row">{{assetDiscountEmployee.id}}</th>
      <td>{{assetDiscountEmployee.date | date: 'MM/yyyy'}}</td>
      <td>$ {{assetDiscountEmployee.netSalary}}</td>
      <td>
        <span class="badge bg-primary">
          <a routerLink="/assetsDiscount/{{assetDiscountEmployee.id}}">Ver Detalle</a>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
