<div class="container mt-4">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">UF</th>
      <th scope="col">UTM</th>
      <th scope="col">Valor de cargas</th>
      <th scope="col">Días del mes</th>
      <th scope="col">Impuesto a la renta</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let parameter of parameterList">
      <th scope="row">{{parameter.createdAt | date: 'MM/yyyy'}}</th>
      <th scope="row">$ {{parameter.uf}}</th>
      <th scope="row">$ {{parameter.utm}}</th>
      <th scope="row">$ {{parameter.refugeesAmount}}</th>
      <th scope="row">{{parameter.daysPerMonth}}</th>
      <th scope="row">{{parameter.incomeTax}}</th>
    </tr>
    </tbody>
  </table>
</div>
