<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ERP</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/newArticle">Nuevo artículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/article">Listar artículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/newProvider">Nuevo Proveedor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/provider">Listar Proveedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/newPurchase">Ingresar Compra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/purchase">Compra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/purchaseLedger">Libro de Compra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/newCustomer">Nuevo Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/customer">Listar Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/newSale">Venta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/saleLedger">Libro de Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/kardex">Kardex</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
